* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Times New Roman', serif;
        }

        body {
            padding: 20px;
            background-color: white;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 5px;
            color: #333;
            font-family: Arial, sans-serif;
        }

        .menu-container {
            width: 100%;
            overflow: hidden;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 15px 25px;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            transition: all 0.3s ease;
        }

        .menu1 {
            background-color: black;
        }

        .menu2 {
            background-color: red;
        }

        .menu2 li a:hover {
            font-size: 18px; 
        }

        .menu3 {
            background-color: black;
        }

        .menu3 li {
            border-right: 2px solid cyan;
        }

        .menu3 li:last-child {
            border: none; 
        }

        .menu3 li a:hover {
            background-color: #333; 
            color: cyan;
        }

        .menu4 {
            background-color: black;
        }

        .menu4 .active {
            background-color: #99ff99; 
            color: white; 
        }

        .menu4 li a:hover:not(.active) {
            color: #99ff99; 
        }

        /* =========================================
           5. RESPONSIVE MENU (Stacks on Mobile)
           ========================================= */
        .menu5 {
            background-color: #555; /* Dark Grey */
        }

        .menu5 .active {
            background-color: #99ff99; /* Light Green Home */
            color: white; 
        }

        /* --- MEDIA QUERY FOR MOBILE PHONES --- */
        /* When screen width is 600px or less, change layout */
        @media screen and (max-width: 600px) {
            .menu5 li {
                float: none; /* Stop floating left */
                width: 100%; /* Make each item take full width */
                border-bottom: 1px solid #777; 
            }
            
            .menu5 li a {
                text-align: center;
                padding: 20px; 
            }
        }