/* Global Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            padding-top: 50px;
            background-color: #f0f0f0; 
        }

        .mainbox {
            width: 800px;
            margin: 0 auto;
            background-color: white;
        }

        /* --- THE HEADER --- */
        .header {
            width: 100%;
            height: 60px;
            border: 2px solid black;
            margin-bottom: 15px;
        }

        /* --- THE MIDDLE CONTAINER --- */
        .main-container {
            width: 100%;
            height: 400px;
            border: 2px solid black;
            margin-bottom: 15px;
        }

        /* --- SIDEBAR --- */
        .sidebar {
            width: 30%;
            height: 100%;
            float: left;
            border-right: 2px solid black;
        }

        /* --- RIGHT CONTENT WRAPPER --- */
        .right-content {
            width: 70%;
            height: 100%;
            float: left;
            padding: 10px;
        }

        .nav-box {
            width: 100%;
            height: 50px;
            border: 2px solid black;
            margin-bottom: 10px;
        }

        .bottom-boxes {
            width: 100%;
            height: calc(100% - 60px);
        }

        .box-left {
            width: 49%;
            height: 100%;
            border: 2px solid black;
            float: left;
            margin-right: 2%;
        }

        .box-right {
            width: 49%;
            height: 100%;
            border: 2px solid black;
            float: left;
        }

        /* --- FOOTER --- */
        .footer {
            clear: both;
            width: 100%;
            height: 40px;
            border: 2px solid black;
        }